<%= title "Quem somos - Hospedin" %>
<%= meta_description "A Hospedin é uma empresa de tecnologia que oferece diversas soluções, softwares e sistemas para o setor hoteleiro como hotéis, pousadas e hostels" %>
<%= navbar_color('bg-purple') %>

<section class="bg-purple mask-purple about-banner">
  <div class="container text-center">
    <h1 class="white mb-3 h1">A Hospedin</h1>
    <p class="white">Entregamos valor e inovação ao setor hoteleiro e turístico através de soluções tecnológicas de forma que nossos clientes sintam que receberam muito mais do que investiram.</p>
  </div>
</section>

<section class="padding-y-1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 p-3">
        <div class="bg-white rounded about-card shadow-lg p-4 p-lg-5">
          <i data-feather="heart" class="d-block about-icon-3 mb-3"></i>
          <h3 class="h3 dark-purple mb-3">Somos</h3>
          <p class="purple">Uma empresa de tecnologia que existe para levar produtividade e facilitar o dia a dia das pessoas que oferecem e buscam acomodações.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="bg-white rounded about-card shadow-lg p-4 p-lg-5">
          <i data-feather="feather" class="d-block about-icon-1 mb-3"></i>
          <h3 class="h3 dark-purple mb-3">Acreditamos</h3>
          <p class="purple">Que o sucesso do cliente é a nossa maior conquista e que um atendimento excepcional é tão importante quanto oferecer a melhor ferramenta.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="bg-white rounded about-card shadow-lg p-4 p-lg-5">
          <i data-feather="flag" class="d-block about-icon-4 mb-3"></i>
          <h3 class="h3 dark-purple mb-3">Buscamos</h3>
          <p class="purple">Criar um mundo onde a hospitalidade aproxime ainda mais as pessoas e que elas possam ter tempo para o que realmente é importante.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="bg-white rounded about-card shadow-lg p-4 p-lg-5">
          <i data-feather="map-pin" class="d-block about-icon-2 mb-3"></i>
          <h3 class="h3 dark-purple mb-3">Estamos</h3>
          <p class="purple">Em Garopaba, cidade turística de Santa Catarina, entretanto, nossos colaboradores tem a liberdade de dar o seu melhor de outros lugares do mundo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-section">
  <div class="container">
    <h3 class="h3 dark-purple mb-3 mb-lg-4">Nossa equipe</h3>
    <p class="team-description purple mb-3 mb-lg-5">O coração da Hospedin é formado por pessoas incríveis que buscam constantemente por aprendizado, possuem foco no cliente e fazem do equilíbrio um importante pilar para alcançar a produtividade.</p>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/ale.jpg', class: 'img-fluid rounded mb-3', alt: 'Ale do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Ale</h4>
        <p class="purple">Sucesso do Cliente</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/anna.jpg', class: 'img-fluid rounded mb-3', alt: 'Anna do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Anna</h4>
        <p class="purple">Marketing</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/borba.jpg', class: 'img-fluid rounded mb-3', alt: 'Borba do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Borba</h4>
        <p class="purple">Produto</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/carol.jpg', class: 'img-fluid rounded mb-3', alt: 'Carol do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Carol</h4>
        <p class="purple">Financeiro</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/felipe.jpg', class: 'img-fluid rounded mb-3', alt: 'Felipe do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Felipe</h4>
        <p class="purple">Produto</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/gabi.jpg', class: 'img-fluid rounded mb-3', alt: 'Gabriel do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Gabriel</h4>
        <p class="purple">Produto</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/joe.jpg', class: 'img-fluid rounded mb-3', alt: 'Joe do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Joe</h4>
        <p class="purple">Gestão</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/ju-bachiega.jpg', class: 'img-fluid rounded mb-3', alt: 'Ju Bachiega do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Jú Bachiega</h4>
        <p class="purple">Sucesso do Cliente</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/ju-vieira.jpg', class: 'img-fluid rounded mb-3', alt: 'Ju Vieira do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Jú Vieira</h4>
        <p class="purple">Marketing</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/kaka.jpg', class: 'img-fluid rounded mb-3', alt: 'Kaka do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Kaká</h4>
        <p class="purple">Comercial</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/lucas.jpg', class: 'img-fluid rounded mb-3', alt: 'Lucas do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Lucas</h4>
        <p class="purple">Produto</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/maria.jpg', class: 'img-fluid rounded mb-3', alt: 'Maria do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Maria</h4>
        <p class="purple">Sucesso do Cliente</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/may.jpg', class: 'img-fluid rounded mb-3', alt: 'May do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">May</h4>
        <p class="purple">Marketing</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/mili.jpg', class: 'img-fluid rounded mb-3', alt: 'Mili do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Mili</h4>
        <p class="purple">Marketing</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/rafa.jpg', class: 'img-fluid rounded mb-3', alt: 'Rafa do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Rafa</h4>
        <p class="purple">Comercial</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/saulo.jpg', class: 'img-fluid rounded mb-3', alt: 'Saulo do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Saulo</h4>
        <p class="purple">Produto</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/tati.jpg', class: 'img-fluid rounded mb-3', alt: 'Tati do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Tati</h4>
        <p class="purple">Sucesso do Cliente</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/thai.jpg', class: 'img-fluid rounded mb-3', alt: 'Thaíse do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Thaíse</h4>
        <p class="purple">Sucesso do Cliente</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/val.jpg', class: 'img-fluid rounded mb-3', alt: 'Val do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Val</h4>
        <p class="purple">Sucesso do Cliente</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/vini.jpg', class: 'img-fluid rounded mb-3', alt: 'Vini do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Vini</h4>
        <p class="purple">Produto</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5">
        <%= image_tag 'team/wan.jpg', class: 'img-fluid rounded mb-3', alt: 'Wan do Sofware de Produtividade Hoteleira Hospedin' %>
        <h4 class="dark-purple">Wan</h4>
        <p class="purple">Produto</p>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <%= link_to 'Faça parte do nosso time!', 'javascript:void(0);', class: 'btn btn-lg btn-yellow', data: {'paperform-id': 'talentos-hospedin', 'popup-button': '1'} %>
</div>

<section class="jobs bg-purple padding-y">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 text-center text-lg-left white">
        <span class="d-inline-block mr-4 align-middle footer-title">Apoio</span>
        <%= image_tag 'companies/logo-sebrae.png', class: 'company-sebrae mr-4 mr-lg-3 d-inline-block' %>
        <%= image_tag 'companies/logo-startupsc.png', class: 'company-startupsc' %>
      </div>
      <div class="col-11 col-lg-7 bg-black-purple rounded-left p-5 midia-box">
        <div class="">
          <h3 class="h3 white mb-4 mb-lg-5">
            Hospedin na Mídia
            <div class="midia-nav carousel-nav nav-white float-right">
              <span class="nav-prev disabled"><i data-feather="arrow-left"></i></span>
              <span class="nav-next"><i data-feather="arrow-right"></i></span>
            </div>
          </h3>
          <div class="midia-carousel carousel dots-none owl-carousel owl-theme">
            <div class="midia-card white item">
              <h5 class="mb-2">PEGN</h5>
              <p class="mb-3">Desde abril de 2014, quando a startup Hospedin iniciou sua participação na terceira ...</p>
              <%= link_to 'Ler matéria', 'https://revistapegn.globo.com/Noticias/noticia/2015/03/startup-oferece-software-para-gestao-de-pousadas.html', target: '_blank', class: 'btn btn-yellow btn-sm' %>
            </div>
            <div class="midia-card white item">
              <h5 class="mb-2">Exame</h5>
              <p class="mb-3">A empresa quer facilitar tarefas como gerenciar reservas, organizar informações dos hóspedes ...</p>
              <%= link_to 'Ler matéria', 'https://exame.abril.com.br/pme/startup-oferece-software-para-gestao-de-pousadas-e-hoteis', target: '_blank', class: 'btn btn-yellow btn-sm' %>
            </div>
            <div class="midia-card white item">
              <h5 class="mb-2">StartupSC</h5>
              <p class="mb-3">Startup catarinense oferece software para gestão de pousadas, hotéis, hotels e meios ...</p>
              <%= link_to 'Ler matéria', 'https://www.startupsc.com.br/startup-oferece-software-para-gestao-de-pousadas-e-hoteis', target: '_blank', class: 'btn btn-yellow btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if 1 == 2 %>

    <div class="row jobs-cards">
      <div class="col-12 col-lg-4 white">
        <h2>Vagas abertas</h2>
        <p class="mb-4">Se você adora trabalhar remotamente, valoriza produtividade e entrega de resultados, você tem o nosso DNA!</p>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="job-card mb-2 mb-lg-4 bg-white rounded p-3 purple">
              <div class="row align-items-center">
                <div class="col-7 col-xl-8">
                  <h4 class="dark-purple mb-1">
                    Desenvolvedor Full Stack Ruby
                  </h4>
                  <span>Remoto</span>
                </div>
                <div class="col-5 col-xl-4 text-right">
                  <%= link_to 'Detalhes', 'https://hospedin.breezy.hr/p/edc2192de951-desenvolvedor-full-stack-ruby-remoto', target: '_blank', class: 'btn btn-yellow btn-sm' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="job-card mb-2 mb-lg-4 bg-white rounded p-3 purple">
              <div class="row align-items-center">
                <div class="col-7 col-xl-8">
                  <h4 class="dark-purple mb-1">
                    Sucesso do Cliente
                  </h4>
                  <span>Remoto ou Garopaba - SC</span>
                </div>
                <div class="col-5 col-xl-4 text-right">
                  <%= link_to 'Detalhes', 'javascript: void(0);', target: '_blank', class: 'btn btn-yellow btn-sm' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</section>

<section class="bg-yellow py-5">
  <div class="container text-center">
    <h2 class="dark-purple mb-1">Gostaria de entrar em contato com a gente?</h2>
    <p class="purple">Envie um email para <b>contato@hospedin.com</b></p>
  </div>
</section>
