<%= title "Motor de Reservas para Hotéis e Pousadas - Hospedin" %>
<%= meta_description "Receba reservas direto do site da sua pousada ou hotel sem ter que pagar comissões extras para as OTAs" %>
<%= navbar_color('bg-yellow') %>
<%= navbar_option('navbar-alt') %>

<section class="bg-yellow mask-yellow banner channel-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 text-center text-lg-left">
        <h1 class="dark-purple mt-2 mb-3">Motor de<br>reservas</h1>
        <p class="purple">Receba reservas direto do site da sua pousada ou hotel sem ter que pagar comissões extras para as OTAs</p>
        <%= link_to 'Fale com um consultor',  'https://educativos.hospedin.com/fale-com-um-consultor', target: '_blank', class: 'btn btn-lg btn-white btn-white-hover-alt mb-5 mb-lg-0' %>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <%= image_tag 'banners/motor-reservas.png', class: 'img-fluid', alt: 'Motor de reserva Hospedin: Você não precisa mais pagarcomissões extras para receber reservas direto do seu site' %>
      </div>
    </div>
  </div>
</section>

<section class="padding-y-1 bg-gray-blue" id="vantagens">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 mb-5">
        <h2 class="h3 dark-purple mb-2 mb-lg-4 text-center">VANTAGENS</h2>
      </div>
      <div class="col-12 col-lg-12 benefits">
        <div class="row">
          <div class="col-12 col-lg-4 benefit">
            <h4 class="dark-purple">AUMENTE SUAS VENDAS</h4>
            <p class="purple">Transforme o site do seu hotel no canal de venda mais rentável para o seu negócio e seus hóspedes.</p>
          </div>
          <div class="col-12 col-lg-4 benefit">
            <h4 class="dark-purple">REDUZA SEUS CUSTOS</h4>
            <p class="purple">Reduza os custos de comissionamento com as OTAs e fidelize os hóspedes com a marca do seu estabelecimento.</p>
          </div>
          <div class="col-12 col-lg-4 benefit">
            <h4 class="dark-purple">RECEBA PAGAMENTOS ONLINE</h4>
            <p class="purple">Receba pagamentos em seu site com segurança e garanta a privacidade e confiança dos seus hóspedes.</p>
          </div>
          <div class="col-12 col-lg-4 benefit">
            <h4 class="dark-purple">MAIS TEMPO PARA SUA GESTÃO</h4>
            <p class="purple">Você recebe todas as reservas dentro do Hospedin e a disponibilidade é atualizada em tempo real no <b>Motor de Reservas</b>.</p>
          </div>
          <div class="col-12 col-lg-4 benefit">
            <h4 class="dark-purple">CRIE OFERTAS PERSONALIZADAS</h4>
            <p class="purple">Crie facilmente, promoções, pacotes, códigos promocionais e ofertas especiais de forma prática.</p>
          </div>
          <div class="col-12 col-lg-4 benefit">
            <h4 class="dark-purple">FAÇA VENDAS 24 HORAS POR DIA</h4>
            <p class="purple">Aumente suas chances de fechar uma reserva, funcionando 24 horas por dia de forma fácil, rápida e, sobretudo, segura.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to 'Fale com um consultor',  'https://educativos.hospedin.com/fale-com-um-consultor', target: '_blank', class: 'btn btn-lg btn-yellow' %>
    </div>
  </div>
</section>
<section class="padding-y-1 pb-0">
  <div class="container">
    <h2 class="dark-purple mb-3 text-center h3">COMO FUNCIONA</h2>
    <p class="purple text-center">O <b>Motor de Reservas</b> ou também conhecido como <strong>Booking Engine</strong>, é uma solução que possibilita as pessoas que acessam o site da sua pousada a fazerem reservas diretas de maneira rápida, prática e segura.</p>

    <div class="row align-items-center padding-y">
      <div class="col-12 col-lg-6 px-lg-5 mb-4 mb-lg-0 text-center">
        <%= image_tag 'engine-steps/booking-engine-para-software-hotel-passo-1.jpg', class: 'img-fluid', alt: 'Booking Engine para Software de Hotel - Passo 1' %>
      </div>
      <div class="col-12 col-lg-6 pl-lg-5 text-center text-lg-left">
        <h3 class="dark-purple mb-1">1. Fale com nossos consultores</h3>
        <p class="purple">O primeiro passo é solicitar o contato de um consultor Hospedin. Entraremos em contato com você visando tirar todas as dúvidas do <b>Motor de Reservas</b> e como ele pode potencializar suas vendas.</p>
        <%= link_to 'Fale com um consultor',  'https://educativos.hospedin.com/fale-com-um-consultor', target: '_blank', class: 'btn btn-yellow' %>
      </div>
    </div>

    <div class="row align-items-center padding-y">
      <div class="col-12 col-lg-6 px-0 px-lg-5 mb-4 mb-lg-0 order-lg-last text-center">
        <%= image_tag 'engine-steps/booking-engine-para-software-hotel-passo-2.jpg', class: 'img-fluid', alt: 'Booking Engine para Software de Hotel - Passo 2' %>
      </div>
      <div class="col-12 col-lg-6 pl-lg-5 text-center text-lg-left">
        <h3 class="dark-purple mb-1">2. Implantação e Treinamento</h3>
        <p class="purple">Uma vez adquirido o <b>Motor de Reservas</b>, nossa equipe de implantação fará a configuração e dará o treinamento para você ou sua equipe.</p>
      </div>
    </div>

    <div class="row align-items-center padding-y">
      <div class="col-12 col-lg-6 px-0 px-lg-5 mb-4 mb-lg-0 text-center">
        <%= image_tag 'engine-steps/booking-engine-para-software-hotel-passo-3.jpg', class: 'img-fluid', alt: 'Booking Engine para Software de Hotel - Passo 3' %>
      </div>
      <div class="col-12 col-lg-6 pl-lg-5 text-center text-lg-left">
        <h3 class="dark-purple mb-1">3. Reservas do seu site no Hospedin</h3>
        <p class="purple">Com a nossa integração você irá receber reservas dentro do Hospedin direto do site da sua pousada ou hotel sem ter que pagar comissões extras para as OTAs.</p>
      </div>
    </div>

  </div>
</section>

<section class="padding-y bg-gray-blue">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4">
        <h3 class="dark-purple mb-2 mb-lg-5 h3">Perguntas Frequentes</h3>
        <p class="purple mb-2 mb-lg-5">Tire todas as suas dúvidas a respeito do <strong>Motor de Reservas</strong>.</p>
        <button class="d-none d-lg-block btn btn-dark-blue" onclick="Intercom('showNewMessage');">Fale conosco</button>
      </div>
      <div class="col-12 col-lg-8">
        <div class="accordion faq-accordion">
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-1">
              Eu preciso ter um Channel Manager para ter um Motor de Reservas integrado ao meu PMS?
            </a>
            <div class="collapse purple" id="faq-1">
              <p>
                Não necessariamente, entretanto, se você quer ter as reservas recebidas do seu <b>Motor de Reservas</b> integradas com o PMS, então, você precisará da integração com o <b>Channel Manager</b>.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-2">
              O que acontece se meu Motor de Reservas não é integrado ao meu PMS?
            </a>
            <div class="collapse purple" id="faq-2">
              <p>
                Você precisará inserir suas reservas manualmente no PMS e ajustar a disponibilidade no <b>Motor de Reservas</b>, também manualmente.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-3">
              O Motor de Reservas funciona em qualquer tipo de site?
            </a>
            <div class="collapse purple" id="faq-3">
              <p>
                Sim, basicamente você irá acrescentar um link em seu site direcionando o hóspede para fazer a reserva no <b>Motor de Reservas</b>.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-4">
              Qual a diferença entre Motor de Reservas e Channel Manager?
            </a>
            <div class="collapse purple" id="faq-4">
              <p>
                O <b>Motor de Reservas</b> é uma ferramenta que possibilita que seu hóspede possa fazer uma reserva diretamente pelo seu site. O <b>Channel Manager</b> ou também conhecido como <b>Gestor de Canais</b> gerencia tarifas e disponibilidades dos seus canais de venda online (OTAs).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block d-lg-none text-center mt-5">
      <span class="dark-purple d-block mb-3 font-weight-bold small">Ainda ficou alguma dúvida?</span>
      <button class="btn btn-dark-blue" onclick="Intercom('showNewMessage');">Entre em contato</button>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 bg-dark-blue">
        <div class="card-product text-center">
          <%= image_tag 'icons/product-icons/masked-pms.svg', class: 'img-fluid rounded mb-3', alt: 'Sistema Hoteleiro (PMS) - Hospedin' %>
          <h2 class="white"><%= link_to "Sistema Hoteleiro", root_path %></h2>
          <p class="white mx-auto">Tenha total controle das suas reservas, acomodações e hóspedes.</p>
          <%= link_to 'Explorar produto', root_path, class: 'btn btn-white btn-shadow' %>
        </div>
      </div>
      <div class="col-12 col-lg-6 bg-light-blue">
        <div class="card-product text-center">
          <%= image_tag 'icons/product-icons/masked-channel.svg', class: 'img-fluid rounded mb-3', alt: 'Channel Manager - Hospedin' %>
          <h2 class="white"><%= link_to "Channel Manager", channels_path %></h2>
          <p class="white mx-auto">Organize as reservas do Booking, Expedia, Decolar e outros canais em um só lugar.</p>
          <%= link_to 'Explorar produto', channels_path, class: 'btn btn-white btn-shadow' %>
        </div>
      </div>
    </div>
  </div>
</section>
