<%= title "Hospedin - Software e Sistema para Hotel, Pousada, Hostel e Similares" %>
<%= meta_description "Tenha total controle das suas reservas, acomodações e hóspedes com o Hospedin, o melhor Sistema de Gestão para Hotel, Pousada, Hostel e Similares." %>
<%= navbar_color('bg-purple') %>
<section class="bg-purple mask-purple banner homepage-banner">
  <div class="container">
      <div class="d-flex flex-column align-items-center text-center">
        <div class="d-flex flex-column align-items-center">
          <h1 class="white m-0">Sistemas hoteleiros simples e</h1> 
          <h1 class="white d-flex align-items-center m-0 p-0 animation-line">intuitivos para 
            <div class="ml-3 animation">
              <div class="animation-mask">
                <h1 class="m-0">sua pousada<br/>
                seu hotel<br/>
                seu camping<br/>
                seu hostel<br/>
                sua pousada</h1>
              </div>
            </div>
          </h1>
        <p class="white w-75 pt-3">Tenha uma <b>gestão completa das reservas</b> e <b>maior controle da hospedagem</b> com <b>sistemas integrados</b> e simples de usar</p>
        <button class="btn btn-lg btn-yellow sistems-btn">Conheça nossos sistemas</button>
        <%= image_tag 'banners/banner-home.png', class: 'img-fluid banner-home', alt: 'Sistema Hoteleiro (PMS) - Hospedin' %>
    </div>
  </div>
</section>

<section class="home-products padding-y mt-5">
  <div class="container">
    <div class="home-products-items text-center pt-5 pb-5 mb-4">
      <span class="dark-purple tag tag-blue">Mais controle e segurança na gestão</span>
      <h2 class="dark-purple mt-3 pb-3 mb-4">Sistema Hoteleiro - PMS</h2>
      <div class="row pb-5 d-flex align-items-center">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
          <%= image_tag 'products/image-pms.png', class: 'img-fluid', alt: 'Sistema Hoteleiro (PMS) - Hospedin' %>
        </div>
        <div class="col-12 col-lg-6 text-left home-products-items_pms">
          <h5 class="mb-4 pb-2 dark-purple">Tenha total controle das suas reservas, acomodações e hóspedes com o PMS Hospedin.</h5>
          <div class="d-block mb-3">
            <i data-feather="check"></i>
            <span>Fácil visualização das disponibilidades com o mapa de reservas</span>
          </div>
          <div class="d-block mb-3">
            <i data-feather="check"></i>
            <span>Simplicidade e agilidade na automatização dos preços da diária com Tarifário Dinâmico</span>
          </div>
          <div class="d-block mb-3">
            <i data-feather="check"></i>
            <span>Visão estratégica do negócio com a tela de Indicadores</span>
          </div>
          <div class="d-block mb-3">
            <i data-feather="check"></i>
            <span>Mais clareza dos dados e crescimento da sua hospedagem com os principais Relatórios de gestão</span>
          </div>
        </div>
      </div>
      <%= link_to 'Saiba mais sobre o PMS', pms_path, class: 'btn btn-dark-blue' %>
    </div>
    <div class="home-products-items text-center pb-5 mb-4">
      <span class="dark-purple tag tag-aqua">Venda em mais canais e economize tempo</span>
      <h2 class="dark-purple pb-3 mt-3 mb-4">Gestor de Canais</h2>
      <div class="row pb-5 d-flex align-items-center">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
          <%= image_tag 'products/image-channel.png', class: 'img-fluid', alt: 'Channel Manager - Hospedin' %>
        </div>
        <div class="col-12 col-lg-6 text-left home-products-items_channel">
          <h5 class="mb-4 pb-2 dark-purple">Aumente as reservas anunciando em mais de 100 canais de venda com a facilidade de gerenciar em um único lugar.</h5>
          <div class="mb-3">
            <i data-feather="check"></i>
            <span class="mr-2">Minimize os riscos de overbooking com a atualização em tempo real das disponibilidades em todos os canais</span>
          </div>
          <div class="mb-3">
            <i data-feather="check"></i>
            <span class="mr-2">Mais facilidade e controle na gestão do seu tarifário e restrições com a distribuição automática multicanal</span>
          </div>
          <div class="mb-3">
            <i data-feather="check"></i>
            <span class="mr-2">Reduza o tempo gasto gerenciando a disponibilidade de quartos em cada canal</span>
          </div>
        </div>
      </div>
      <%= link_to 'Saiba mais sobre o Gestor de Canais', channels_path, class: 'btn btn-dark-blue' %>
    </div>
    <div class="home-products-items text-center pb-5 mb-4">
      <span class="dark-purple tag tag-yellow">Aumente as vendas diretas e lucre mais</span>
      <h2 class="dark-purple mt-3 pb-3 mb-4">Motor de Reservas</h2>
      <div class="row pb-5 d-flex align-items-center">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
          <%= image_tag 'products/image-motor.png', class: 'img-fluid', alt: 'Motor de Reservas - Hospedin' %>
        </div>
        <div class="col-12 col-lg-6 text-left home-products-items_motor">
          <h5 class="mb-4 pb-2 dark-purple">Facilite o fechamento das reservas nos seus canais diretos e faça vendas 24 horas por dia em seu site, sem envolver a sua equipe. Além de reduzir custos com comissões extras.</h5>
          <div class="mb-3">
            <i data-feather="check"></i>
            <span class="mr-2">Segurança e facilidade para receber pagamento on-line nos seus canais de vendas diretos</span>
          </div>
          <div class="mb-3">
            <i data-feather="check" ></i>
            <span class="mr-2">Praticidade para criar ofertas personalizadas, promoções, pacotes e códigos promocionais</span>
          </div>
          <div class="mb-3">
            <i data-feather="check"></i>
            <span class="mr-2">Gestão mais eficiente das reservas com a automatização dos ajustes de tarifas de acordo com a demanda e atualização de disponibilidades em tempo real</span>
          </div>

        </div>
      </div>
      <%= link_to 'Saiba mais sobre o Motor de Reservas', engine_path, class: 'btn btn-dark-blue' %>
    </div>
  </div>
</section>


<section class="padding-y-1 bg-gray-blue" id="home-vantagens">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 mb-5 pb-3 text-center">
        <h2 class="h3 dark-purple mb-2 mb-lg-3 text-center">Como nós podemos ajudar você?</h2>
        <span class="dark-purple">Conheça algumas das vantagens de usar os sistemas Hospedin</span>
      </div>
      <div class="col-12 col-lg-12 benefits">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/produtividade-e-organizacao.svg', class: 'img-fluid mb-2', alt: 'Produtividade e organização - Benefícios Hospedin' %>
            <h4 class="dark-purple">Produtividade e organização</h4>
            <p class="purple mb-0">Tenha <b>maior controle do que acontece no seu meio de hospedagem</b>, acompanhando todas as ações do seu time de qualquer lugar do mundo, em um único sistema. Encontre seus hóspedes, reservas e pagamentos de forma rápida e fácil.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/seguranca-da-informacao.svg', class: 'img-fluid mb-2', alt: 'Segurança das informações - Benefícios Hospedin' %>
            <h4 class="dark-purple">Segurança das informações</h4>
            <p class="purple mb-0">Os <b>sistemas para hotelaria da Hospedin</b> funcionam em nuvem, ou seja, ficam protegidos por uma das maiores empresas de servidores do mundo. Além disso, nós fazemos <b>backups diários dos seus dados</b> para que fiquem protegidos e atualizados.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/economia-comprovada.svg', class: 'img-fluid mb-2', alt: 'Economia comprovada - Benefícios Hospedin' %>
            <h4 class="dark-purple">Economia comprovada</h4>
            <p class="purple mb-0">Nosso PMS, Channel Manager e Motor de Reservas são sistemas voltados para <b>médios e pequenos estabelecimentos hoteleiros</b>. Assim, você encontra na Hospedin o custo benefício mais atrativo do mercado, com planos a partir de R$ 59,90 por mês, para assinaturas do PMS.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/atendimento-especializado.svg', class: 'img-fluid mb-2', alt: 'Atendimento especializado - Benefícios Hospedin' %>
            <h4 class="dark-purple">Atendimento especializado</h4>
            <p class="purple mb-0">Nosso time de relacionamento com o cliente é reconhecido, dentre os mais de 2500 clientes atuais, por um <b>índice de satisfação de 96%</b> (de 0 a 100%) nos atendimentos realizados. Cada integrante do time é preparado para oferecer um atendimento especializado e eficiente.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/aumento-das-vendas.svg', class: 'img-fluid mb-2', alt: 'Aumento das vendas - Benefícios Hospedin' %>
            <h4 class="dark-purple">Aumento das vendas</h4>
            <p class="purple mb-0">Ao optar pelo <b>Channel Manager Hospedin</b> você terá acesso a <b>mais de 100 canais de venda</b> para anunciar seu meio de hospedagem. Isso faz com que você tenha a oportunidade de aparecer para mais viajantes e fechar novas reservas.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/automatizacao-do-tarifario.svg', class: 'img-fluid mb-2', alt: 'Automatização do tarifário - Benefícios Hospedin' %>
            <h4 class="dark-purple">Automatização do tarifário</h4>
            <p class="purple mb-0">Gerencie seu tarifário e restrições de venda no <b>Channel Manager Hospedin</b> atualizando em todos os seus canais de venda de forma automática. Os preços são distribuídos igualmente para seus anúncios evitando que seu hotel seja penalizado por falta de paridade tarifária.</>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/reducao-risco-overbooking.svg', class: 'img-fluid mb-2', alt: 'Redução do risco de overbooking - Benefícios Hospedin' %>
            <h4 class="dark-purple">Redução do risco de overbooking</h4>
            <p class="purple mb-0">O <b>Channel Manager Hospedin</b> faz a gestão automática das suas reservas nos diversos canais de venda que você utiliza, incluindo os canais diretos. Com a integração entre PMS Hospedin e Motor de Reservas você <b>diminui consideravelmente a possibilidade de ter overbooking</b>.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/ofertas-personalizadas-pagamento-online.svg', class: 'img-fluid mb-2', alt: 'Ofertas personalizadas e pagamento online - Benefícios Hospedin' %>
            <h4 class="dark-purple">OFERTAS PERSONALIZADAS E PAGAMENTOS ONLINE</h4>
            <p class="purple mb-0">Com o <b>Motor de Reservar Hospedin</b> você cria facilmente, promoções, pacotes, códigos promocionais e ofertas especiais. Além disso, recebe pagamentos em seu site com segurança, <b>garantindo a privacidade e confiança dos seus hóspedes</b>.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/facilidade-para-vender-todo-dia.svg', class: 'img-fluid mb-2', alt: 'Facilidade para vender 24 horas por dia - Benefícios Hospedin' %>
            <h4 class="dark-purple">Facilidade para vender 24 horas por dia</h4>
            <p class="purple mb-0">Com o <b>Motor de Reservas Hospedin</b> você aumenta suas chances de fechar uma reserva, <b>funcionando 24 horas por dia</b> de forma fácil e rápida por meio do seu site ou de outros canais de venda direta.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/evolucao-constante.svg', class: 'img-fluid mb-2', alt: 'Evolução Constante - Benefícios Hospedin' %>
            <h4 class="dark-purple">EVOLUÇÃO CONSTANTE</h4>
            <p class="purple mb-0">Nosso time de produto trabalha continuamente para lançar atualizações periódica incluindo novas funcionalidades e melhorias nos <b>softwares hoteleiros Hospedin</b>. Com isso, estamos sempre atentos às sugestões de melhoria dos clientes, mantendo-nos em constante evolução.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 benefit">
            <%= image_tag 'icons/benefits/mais-tempo-para-gestao.svg', class: 'img-fluid mb-2', alt: 'Mais tempo para sua gestão - Benefícios Hospedin' %>
            <h4 class="dark-purple">MAIS TEMPO PARA SUA GESTÃO</h4>
            <p class="purple mb-3">Com os <b>sistemas hoteleiros integrados da Hospedin</b>, você reduz o tempo que gasta gerenciando os anúncios em cada canal de venda e também, na gestão operacional do seu meio de hospedagem. Com tudo centralizado no PMS, você <b>ganha tempo para dedicar a gestão estratégica do seu negócio</b>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3 ">
      <%= link_to 'Fale com um consultor',  'https://educativos.hospedin.com/fale-com-um-consultor', target: '_blank', class: 'btn btn-yellow' %>
    </div>
  </div>
</section>

<section class="statistics padding-y">
  <div class="container text-center">
    <h2 class="dark-purple">Confiança e experiência para a Hotelaria Independente</h2>
    <span class="dark-purple mb-3">Descomplicamos a gestão hoteleira e facilitamos o acesso à tecnologia desde 2014</span>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 text-center mt-5">
        <%= image_tag 'statistics/bubble-cliente-feliz.svg', class: 'img-fluid mb-2', alt: 'Mais tempo para sua gestão - Benefícios Hospedin' %>
        <div class="card-statistics-body">
          <div class="card-statistics-numbers">
            <h1 class="dark-purple m-0">2.4 mil</h1>
            <span>+</span>
          </div>
          <span class="card-statistics-subtitle">clientes felizes</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center mt-5">
        <%= image_tag 'statistics/bubble-uhs-gerenciadas.svg', class: 'img-fluid mb-2', alt: 'Mais tempo para sua gestão - Benefícios Hospedin' %>
        <div class="card-statistics-body">
          <div class="card-statistics-numbers">
            <h1 class="dark-purple m-0">256 mil</h1>
            <span>+</span>
          </div>
          <h6 class="d-block card-statistics-subtitle">UHs gerenciadas</h6>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center mt-5">
        <%= image_tag 'statistics/bubble-satisfacao-no-atendimento.svg', class: 'img-fluid mb-2', alt: 'Mais tempo para sua gestão - Benefícios Hospedin' %>
        <div class="card-statistics-body">
          <div class="card-statistics-numbers-satisfaction">
            <h1 class="dark-purple m-0">9.9</h1><span class="mb-1">/ 10</span>
          </div>
          <h6 class="card-statistics-subtitle">satisfação no atendimento</h6>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center mb-5">
      <div class="col-12 col-md-6 col-lg-4 text-center my-5">
        <%= image_tag 'statistics/bubble-reservas-cadastradas.svg', class: 'img-fluid mb-2', alt: 'Mais tempo para sua gestão - Benefícios Hospedin' %>
        <div class="card-statistics-body">
          <div class="card-statistics-numbers">
            <h1 class="dark-purple m-0">14 milhões</h1>
            <span>+</span>
          </div>
          <h6 class="card-statistics-subtitle">reservas cadastradas</h6>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center my-5">
        <%= image_tag 'statistics/bubble-hospedes-satisfeitos.svg', class: 'img-fluid mb-2', alt: 'Mais tempo para sua gestão - Benefícios Hospedin' %>
        <div class="card-statistics-body">
          <div class="card-statistics-numbers">
            <h1 class="dark-purple m-0">10 milhões</h1>
            <span>+</span>
          </div>
          <h6 class="card-statistics-subtitle">hóspedes satisfeitos</h6>
        </div>
      </div>
    </div>
    <h3 class="statistics-message text-center dark-purple mb-4">Faça parte dessa história você também!</h3>
    <%= link_to 'Fale com um consultor',  'https://educativos.hospedin.com/fale-com-um-consultor', target: '_blank', class: 'btn btn-yellow' %>
  </div>
  
</section>

<section class="reviews padding-y-2 bg-gray-blue">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <h2 class="dark-purple mb-3 text-center text-lg-left">
          Junte-se ao nosso time de hoteleiros de sucesso
        </h2>
        <p class="dark-purple mb-5 text-center text-lg-left">O que dizem alguns dos nossos clientes:</p>
      </div>
      <div class="reviews-nav carousel-nav">
        <span class="nav-prev disabled"><i data-feather="arrow-left"></i></span>
        <span class="nav-next"><i data-feather="arrow-right"></i></span>
      </div>
    </div>
    <div class="reviews-carousel carousel owl-carousel owl-theme">
      <div class="card-review card-review_principals item">
        <div class="w-100 p-4">
          <div class="card-review-stars mb-3">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
          <p class="mb-4 purple text-center text-lg-left">"E pra mim a funcionalidade dele (PMS) que mais me interessa, ou que eu mais gosto de usar, na verdade, é o mapa de reservas. Ele é muito intuitivo, muito fácil...</p>
          <span class="d-block dark-purple card-review-author text-center text-lg-left author-name">Bruno Perozzo</span>
          <span class="d-block purple card-review-address text-center text-lg-left hotel-name">Espaço 345 Hotel</span>
        </div>
        <div class="card-review-video">
          <%= image_tag 'testimonials/bruno-cover-desktop.png', class: 'img-fluid', alt: 'Bruno Peixoto usuário do Sofware de Produtividade Hoteleira Hospedin' %>
          <div class="card-review-video-button" data-value="https://site-hospedin.s3.amazonaws.com/videos/Bruno.mp4" data-toggle="modal" data-target="#testimonialsModal" data-author="Bruno Perozzo" data-hotel="Espaço 345 Hotel">
            <div class="icon-wrapper">
              <i class="card-review-video-button_icon" data-feather="play"></i>
            </div>
            <span class="play-video-button">Ver vídeo</span>
          </div>
        </div>
        <div class="card-review-video-mobile">
          <%= image_tag 'testimonials/bruno-cover-circle.png', class: 'img-fluid', alt: 'Bruno Peixoto usuário do Sofware de Produtividade Hoteleira Hospedin' %>
          <div class="card-review-video-button" data-value="https://site-hospedin.s3.amazonaws.com/videos/Bruno.mp4" data-toggle="modal" data-target="#testimonialsModal" data-author="Bruno Perozzo" data-hotel="Espaço 345 Hotel">
            <div class="icon-wrapper">
              <i class="card-review-video-button_icon" data-feather="play"></i>
            </div>
            <span class="play-video-button">Ver vídeo</span>
          </div>
        </div>
      </div>
      <div class="card-review card-review_principals item">
        <div class="w-100 p-4">
          <div class="card-review-stars mb-3">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
          <p class="mb-4 purple text-center text-lg-left">"Foi graças ao Hospedin que consegui colocar tudo que eu tinha em planilhas de Excel, dentro (de um sistema), uma coisa fácil, nas nuvens que eu consigo acessar de qualquer lugar, do meu celular...</p>
          <span class="d-block dark-purple card-review-author text-center text-lg-left author-name">Milena</span>
          <span class="d-block purple card-review-address text-center text-lg-left hotel-name">Canário azul</span>
        </div>
        <div class="card-review-video">
          <%= image_tag 'testimonials/milena-cover-desktop.png', class: 'img-fluid', alt: 'Milena usuária do Sofware de Produtividade Hoteleira Hospedin' %>
          <div class="card-review-video-button" data-value="https://site-hospedin.s3.amazonaws.com/videos/Milena.mp4" data-toggle="modal" data-target="#testimonialsModal" data-author="Milena" data-hotel="Canário azul">
            <div class="icon-wrapper">
              <i class="card-review-video-button_icon" data-feather="play"></i>
            </div>
            <span class="play-video-button">Ver vídeo</span>
          </div>
        </div>
        <div class="card-review-video-mobile">
          <%= image_tag 'testimonials/milena-cover-circle.png', class: 'img-fluid mb-2', alt: 'Milena usuária do Sofware de Produtividade Hoteleira Hospedin' %>
          <div class="card-review-video-button" data-value="https://site-hospedin.s3.amazonaws.com/videos/Milena.mp4" data-toggle="modal" data-target="#testimonialsModal" data-author="Milena" data-hotel="Canário azul">
            <div class="icon-wrapper">
              <i class="card-review-video-button_icon" data-feather="play"></i>
            </div>
            <span class="play-video-button">Ver vídeo</span>
          </div>
        </div>
      </div>
      <div class="card-review card-review_principals item">
        <div class="w-100 p-4">
          <div class="card-review-stars mb-3">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
          <p class="mb-4 purple text-center text-lg-left">”Estou muito satisfeita com a plataforma. Já usei outras plataformas, que não forma tão práticas quanto a Hospedin. Porque a Hospedin é muito simples de usar...</p>
          <span class="d-block dark-purple card-review-author text-center text-lg-left author-name">Luciana</span>
          <span class="d-block purple card-review-address text-center text-lg-left hotel-name">Pousada Quatro Estações</span>
        </div>
        <div class="card-review-video">
          <%= image_tag 'testimonials/luciana-cover-desktop.png', class: 'img-fluid', alt: 'Luciana usuária do Sofware de Produtividade Hoteleira Hospedin' %>
          <div class="card-review-video-button" data-value="https://site-hospedin.s3.amazonaws.com/videos/Luciana.mp4" data-toggle="modal" data-target="#testimonialsModal" data-author="Luciana" data-hotel="Pousada Quatro Estações">
            <div class="icon-wrapper">
              <i class="card-review-video-button_icon" data-feather="play"></i>
            </div>
            <span class="play-video-button">Ver vídeo</span>
          </div>
        </div>
        <div class="card-review-video-mobile">
          <%= image_tag 'testimonials/luciana-cover-circle.png', class: 'img-fluid mb-2', alt: 'Luciana usuária do Sofware de Produtividade Hoteleira Hospedin' %>
          <div class="card-review-video-button" data-value="https://site-hospedin.s3.amazonaws.com/videos/Luciana.mp4" data-toggle="modal" data-target="#testimonialsModal" data-author="Luciana" data-hotel="Pousada Quatro Estações">
            <div class="icon-wrapper">
              <i class="card-review-video-button_icon" data-feather="play"></i>
            </div>
            <span class="play-video-button">Ver vídeo</span>
          </div>
        </div>
      </div>

      <div class="card-review card-review_simple item p-4">
        <div class="card-review-stars mb-3">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
        <p class="mb-4 purple text-center text-lg-left">"Estou muito satisfeito com o aplicativo e com o suporte dado pelo Hospedin. Quando comecei tinha muitas dificuldades na gestão, hospedagem e controle das receitas. Hoje estamos muito satisfeitos com o resultado e os dados obtidos de forma clara e objetiva posso melhorar a nossa gestão."</p>
        <span class="d-block dark-purple card-review-author text-center text-lg-left">Francisco Del Ducca Corrêa</span>
        <span class="d-block purple card-review-address text-center text-lg-left">Pousada Recanto Indaia - SP</span>
      </div>
      <div class="card-review card-review_simple item p-4">
        <div class="card-review-stars mb-3">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
        <p class="mb-4 purple text-center text-lg-left">"Uso o programa a um ano na pousada em que trabalho e não pretendo trocar. É bastante prático e intuitivo, um ótimo investimento. Muito mais fácil de lidar do que qualquer sistema antigo ou planilha, além de fazerem melhorias periodicamente no sistema. Recomendo!"</p>
        <span class="d-block dark-purple card-review-author text-center text-lg-left author-name">Amanda Araujo</span>
        <span class="d-block purple card-review-address text-center text-lg-left">Pousada Aldeia dos Camarás - PE</span>
      </div>
      <div class="card-review card-review_simple item p-4">
        <div class="card-review-stars mb-3">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
        <p class="mb-4 purple text-center text-lg-left">"O sistema é ótimo! Simples, intuitivo, de fácil uso. No início surgiram algumas dúvidas, mas o suporte foi atencioso e rapidinho nos ajudou. Outra funcionalidade que gosto muito é a possibilidade de acompanhar a rotina do hotel de onde eu estiver, por ser em nuvem. Os gráficos também são ótimas ferramentas para a gestão, visuais, otimiza o acompanhamento."</p>
        <span class="d-block dark-purple card-review-author text-center text-lg-left">Vaniely Cirino</span>
        <span class="d-block purple card-review-address text-center text-lg-left">Hotel Antares - PR</span>
      </div>
    </div>
  </div>

  <div class="modal modal-testimonials" id="testimonialsModal" tabindex="-1" role="dialog" aria-labelledby="testimonialsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content modal-testimonials-content">
        <div class="modal-header testimonial-modal-header">
            <button class="navigation-btn navigation-active" data-value="https://site-hospedin.s3.amazonaws.com/videos/Bruno.mp4" data-author="Bruno Perozzo" data-hotel="Espaço 345 Hotel">
              <%= image_tag 'testimonials/bruno-cover-circle.png', class: 'img-fluid', alt: 'Bruno usuário do Sofware de Produtividade Hoteleira Hospedin' %>
            </button>
            <button class="navigation-btn" data-value="https://site-hospedin.s3.amazonaws.com/videos/Milena.mp4" data-author="Milena" data-hotel="Canário azul">
              <%= image_tag 'testimonials/milena-cover-circle.png', class: 'img-fluid', alt: 'Milena usuária do Sofware de Produtividade Hoteleira Hospedin' %>
            </button>
            <button class="navigation-btn" data-value="https://site-hospedin.s3.amazonaws.com/videos/Luciana.mp4" data-author="Luciana" data-hotel="Pousada Quatro Estações">
              <%= image_tag 'testimonials/luciana-cover-circle.png', class: 'img-fluid', alt: 'Luciana usuária do Sofware de Produtividade Hoteleira Hospedin' %>
            </button>
        </div>
        <div class="modal-body testimonial-modal-content" >
          <video controls id="testimonial-video"><source type="video/mp4"></video>
          <button type="button" class="testimonial-modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="testimonial-modal-footer">
            <h6 class="author-name"></h6>
            <span class="hotel-name"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="padding-y">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4">
        <h3 class="dark-purple mb-2 mb-lg-5 h3">Perguntas Frequentes</h3>
        <p class="purple mb-2 mb-lg-5">Esclareça as suas dúvidas sobre o nosso PMS, Channel Manager e Motor de Reservas. Conte conosco em toda a sua jornada! </p>
        <button class="d-none d-lg-block btn btn-black-purple" onclick="Intercom('showNewMessage');">Fale com nossos especialistas</button>
      </div>
      <div class="col-12 col-lg-8">
        <div class="accordion faq-accordion">
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-1">
              Por que devo utilizar os sistemas hoteleiros da Hospedin?
            </a>
            <div class="collapse purple" id="faq-1">
              <p>
                Um dos nossos pilares mais sólidos é a evolução, o que nos leva a trabalhar diariamente para entregar sistemas hoteleiros cada dia melhores e que atendam verdadeiramente às necessidades da sua hospedagem. Ou seja, nossos produtos estão em constante melhoria e, por isso, valorizamos tanto os feedbacks e sugestões dos nossos clientes.
                <br />
                <br />
                Além disso, a nossa cultura de sucesso do cliente nos impulsiona diariamente a vestir a camisa da sua hospedagem para ajudar o seu negócio a prosperar e chegar mais longe. Para nós, a parceria só é boa quando todos os lados estão satisfeitos!
                <br />
                <br />
                Aliado a tudo isso, existe o nosso esforço genuíno de oferecer tecnologias hoteleiras acessíveis, ou seja, com excelente custo-benefício e que também sejam simples de utilizar, para que você não esbarre com dificuldades que o impeçam de alcançar uma gestão hoteleira de resultados.              
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-5">
              Se eu precisar de atendimento, o que devo fazer?
            </a>
            <div class="collapse purple" id="faq-5" >
              <p>
                Temos orgulho em dizer que o atendimento personalizado é um dos nossos grandes diferenciais, prova disso é o nosso alto índice de satisfação conquistado junto aos clientes, chegando a 96% de satisfação em uma escala de 0 a 100.
                <br />
                <br />
                Estamos disponíveis para atendê-lo e ajudá-lo, por meio do nosso chat ou WhatsApp, de segunda a sexta, das 9 às 12 e das 13:30 às 18 horas.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-4">
              Vocês possuem treinamento?
            </a>
            <div class="collapse purple" id="faq-4" >
              <p>
                Sim. Durante o período de teste do PMS ou na contratação de qualquer dos softwares hoteleiros, nós oferecemos treinamentos gratuitos e on-line.
              <br />
              <br />
                Os treinamentos são ao vivo e pré-agendados para que você possa tirar dúvidas com nosso time, ficando gravados para assistir sempre que quiser.
              <br />
              <br />
                Enquanto isso, o que acha de assistir uma demonstração gratuita do PMS Hospedin? Basta acessar <a href="https://educativos.hospedin.com/typ-demo-hospedin" target="_blank" class="purple-link">esse link</a>.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-2">
              Para ser cliente da Hospedin, preciso contratar todas as ferramentas?
            </a>
            <div class="collapse purple" id="faq-2" >
              <p>
                Os produtos Hospedin são vendidos de forma independente para que você contrate aquele que melhor atenda às necessidades da sua hospedagem.
              <br />
              <br />
                Com a possibilidade de serem utilizadas separadamente, cada ferramenta pode oferecer uma série de benefícios, entretanto ao optar por utilizar PMS, Channel e Motor de Reservas  integrados, você tem a oportunidade de se aproximar ainda mais de um dos seus principais objetivos: vender mais de forma organizada e com qualidade.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-3">
              Posso testar todas as ferramentas de gestão hoteleira da Hospedin?
            </a>
            <div class="collapse purple" id="faq-3" >
              <p>
                O PMS está disponível para teste gratuito durante um período de 10 dias. Você pode solicitar o seu teste <a href="https://hospedin.com/teste-gratis" target="_blank" class="purple-link">neste formulário</a>.
              <br />
              <br />
                Já o Gestor de Canais e o Motor de Reservas não têm a opção de testar gratuitamente, mas é possível solicitar uma apresentação para os nossos consultores <a href="https://educativos.hospedin.com/fale-com-um-consultor" target="_blank" class="purple-link">nesse link</a>.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <a class="faq-btn btn btn-link text-left text-h4 dark-purple py-4 collapsed" data-toggle="collapse" href="#faq-6">
              Quanto vou pagar pelos sistemas hoteleiros?
            </a>
            <div class="collapse purple" id="faq-6">
              <p>
                Os planos e preços dos softwares de gestão hoteleira da Hospedin, foram pensados para atender a realidade de diferentes tipos de hospedagens. Assim, o valor cobrado é calculado a partir do número de UH's (quartos, apartamentos, camas…). Além disso, para o PMS possuímos 3 modelos de pagamento: Assinatura (apenas no cartão de crédito e com 1 ano de fidelidade); Mensal (pagamento mensal por boleto ou cartão de crédito) e Anual (pagamento à vista pelo período de 1 ano com 10% de desconto).
              <br />
              <br />
                Já no caso do Gestor de Canais e Motor de Reservas, o modelo de pagamento disponível é o Mensal e há uma taxa de implantação, paga uma única vez.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding-y bg-gray-blue text-center">
  <div class="container">
    <h2 class="dark-purple mb-2">Aprenda mais sobre hotelaria e gestão</h2>
    <span class="dark-purple mb-3">Selecionamos o que temos de melhor para você!</span>

    <div class="row pt-4">
      <div class="col col-12 col-lg-4 mb-3">
        <div class="card-edu-suggestions" data-link="https://blog.hospedin.com/?_gl=1*91fsqy*_ga*MTIzMjY4ODg4MC4xNjk2NDUyNTMx*_ga_2FGK22F0Q9*MTcwMDYwOTI3Ni4yNi4xLjE3MDA2MjI5NTkuNjAuMC4w">
          <%= image_tag 'products/image-blog.png', class: 'img-fluid', alt: 'Acesse o blog Hospedin' %>
          <div class="card-body">
            <h3 class="card-edu-suggestions-title">Blog</h3>
            <p class="card-edu-suggestions-text">O hoteleiro que entende de gestão aumenta as chances de sucesso do seu negócio. Confira o nosso blog e aprenda muito mais sobre o mercado de hotelaria!</p>
          </div>
      </div>
      </div>
      <div class="col col-12 col-lg-4 mb-3">
        <div class="card-edu-suggestions" data-link="https://hospedin.com/materiais-educativos" >
          <%= image_tag 'products/image-educativos.png', class: 'img-fluid', alt: 'Acesse o blog Hospedin' %>
          <div class="card-body">
            <h3 class="card-edu-suggestions-title">Materiais gratuitos</h3>
            <p class="card-edu-suggestions-text">Organização, treinamento e padronização destacam o meio de hospedagem entre a concorrência. Baixe nossos materiais gratuitos e tenha a ajuda que você precisa.</p>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-3">
        <div class="card-edu-suggestions" data-link="https://calculadora.hospedin.com/">
          <%= image_tag 'products/image-calculadora-de-diarias.png', class: 'img-fluid', alt: 'Acesse o blog Hospedin' %>
          <div class="card-body">
            <h3 class="card-edu-suggestions-title">Calculadora de diárias </h3>
            <p class="card-edu-suggestions-text">A precificação da diária é decisiva na lucratividade do meio de hospedagem. Simule seu preço e aprenda a calcular sua diária agora mesmo.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h3 class="dark-purple mb-4">Assine nossa Newsletter</h3>
      <span class="dark-purple mb-2">Faça como 2.000 hoteleiros que acreditam na educação para crescerem suas hospedagens.<br /> Inscreva-se para receber, semanalmente, conteúdo gratuito no seu e-mail.</span>
    
      <%= form_for '', url: sign_up_newsletters_path, html: {id: 'newsletter-form',class: "mb-2"}, data: {'parsley-validate' => true} do |f|%>
        <%= f.hidden_field 'recaptcha_token', data: { action: 'sign_up_newsletters' } %>
        <div class="form-row mt-4 pt-3 d-flex align-items-center justify-content-center">
          <div class="col-12 col-lg-6 mt-3">
            <%= f.email_field 'email', class: 'form-control mb-3', placeholder: 'Seu e-mail', required: true, data: {'parsley-type': 'email'} %>
          </div>
          <div class="col-12 col-lg-4 mb-2 text-center">
            <button type="submit" class="btn btn-block btn-dark-blue">Se inscrever</button>
          </div>
        </div>
      <% end %>
      <div id="newsletter-message" class="row justify-content-center">
      </div>
      <span class="d-block small text-center purple">Fique tranquilo. A Hospedin não enviará spam e nem compartilhará seu email com terceiros.</span>
    </div>

    </div>
  </div>
</section>

