<%= title "Hospedin - Termos de Serviço" %>
<%= meta_description "Nossos termos visam formar um acordo legal entre Fllag e o licenciado" %>
<%= navbar_option('bg-purple color-fixed') %>

<section class="padding-y-fixed">
  <div class="container dark-purple">
    <h1 class="text-center h1">TERMOS DE SERVIÇO HOSPEDIN</h1>
    <br>

    <p>
      <mark>
        <strong>ATENÇÃO:</strong> De acordo com a cláusula 5.2., este Contrato de Prestação de Serviços possui prazo de vigência e prevê multa de 50% do valor restante do Contrato em caso de rescisão antecipada requerida pelo Contratante no plano assinatura, como também o valor não reembolsável referente ao plano anual.
      </mark>
    </p>

    <p>
      Este Termo de Serviço é um acordo legal entre o LICENCIADO (pessoa física ou jurídica) e a FLLAG TECNOLOGIA DA INFORMAÇÃO LTDA, pessoa jurídica de direito privado, inscrita no CNPJ sob nº 20.089.871-0001/30, com sede na Rua Souza Dutra, 145, sala 1003 sb/sl 06, localizado no Estreito, CEP 88070-605, Florianópolis, Santa Catarina - Brasil, (a “LICENCIANTE”) para uso do programa de computador denominado Hosped.in, disponibilizado neste ato pela LICENCIANTE (o “SOFTWARE”) por meio do site “www.hospedin.com”, determinado pelo LICENCIADO no ato do licenciamento do SOFTWARE, compreendendo o programa de computador e podendo incluir os meios físicos associados, bem como quaisquer materiais impressos e qualquer documentação online ou eletrônica. Ao utilizar o SOFTWARE, mesmo que parcialmente ou a título de teste, o LICENCIADO estará vinculado a esses Termos de Serviço, concordando com suas disposições, principalmente com relação ao CONSENTIMENTO PARA o ACESSO, COLETA, USO, ARMAZENAMENTO, TRATAMENTO E TÉCNICAS DE PROTEÇÃO ÀS INFORMAÇÕES do LICENCIADO pela LICENCIANTE, necessárias para a integral execução das funcionalidades ofertadas pelo SOFTWARE.<br>
      Este Termo de Serviço constitui um acordo vinculante entre a FLLAG e o LICENCIADO. Se o LICENCIADO não concorda com estes termos, não deve utilizar o SOFTWARE ou os serviços.
    </p>

    <p>A FLLAG se reserva no direito de adaptar e alterar os Termos de Serviço sempre que necessário. Caso haja mudança, todos os usuários de nossos serviços serão avisados via email ou pelo site. Além disso, é possível  revisar a última versão dos Termos de Serviço a qualquer momento em http://hospedin.com/terms_services. A violação de qualquer um dos itens abaixo resultará no encerramento de sua conta.</p>

    <h3>1. Da Propriedade Intelectual</h3>

    <p>O LICENCIADO não adquire, pelo presente instrumento ou pela utilização do SOFTWARE, nenhum direito de propriedade intelectual ou outros direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou quaisquer direitos sobre informações confidenciais ou segredos de negócio, bem como todo o conteúdo disponibilizado no Site, incluindo, mas não se limitando a textos, gráficos, imagens, logotipos, ícones, fotografias, conteúdo editorial, notificações, softwares e qualquer outro material, sobre ou relacionados ao SOFTWARE ou nenhuma parte dele. O LICENCIADO também não adquire nenhum direito sobre ou relacionado ao SOFTWARE ou qualquer componente dele além dos direitos expressamente relacionados ao LICENCIADO sob o presente Termo de Serviço. Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.</p>

    <h3>2. Declarações do LICENCIADO</h3>

    <p>O LICENCIADO declara ter pleno conhecimento dos direitos e obrigações decorrentes do presente Termo de Serviço, constituindo este instrumento o acordo completo entre as partes. Declara, ainda, ter lido, compreendido e aceito todos os seus termos e condições.</p>
    <p>O LICENCIADO declara que está devidamente informado da <%= link_to 'Política de Privacidade', privacy_path, target: '_blank' %> e ambientes de proteção de informações confidenciais, dados pessoais e registros de acesso da LICENCIANTE, consentindo livre e expressamente às ações de coleta, uso, armazenamento e tratamento das referidas informações e dados.</p>
    <p>O LICENCIADO declara estar ciente de que as operações que correspondam à aceitação do presente Termo de Serviço, de determinadas condições e opções, bem como eventual rescisão do presente instrumento e demais alterações, serão registradas nos bancos de dados da LICENCIANTE, juntamente com a data e hora em que foram realizadas pelo LICENCIADO, podendo tais informações serem utilizadas como prova pelas partes, independentemente do cumprimento de qualquer outra formalidade.</p>

    <h3>3. Licença de Uso do Software</h3>

    <p>Previamente a licença de uso, o LICENCIADO será submetido a um período de testes de 10 dias contados, a partir, da data de envio de login e senha. Para a liberação de acesso ao SOFTWARE, serão identificadas se as informações fornecidas estão relacionadas a um estabelecimento.</p>
    <p>Sujeito aos termos e condições aqui estabelecidos, este Termo de Serviço concede ao LICENCIADO uma licença revogável, não exclusiva e intransferível para uso do SOFTWARE a contar do primeiro pagamento do plano escolhido ao solicitar o teste. O LICENCIADO não poderá utilizar e nem permitir que o SOFTWARE seja utilizado para outra finalidade que não seja o processamento de suas informações e de seus clientes, observados os limites estabelecidos neste Termo de Serviço. Em nenhuma hipótese o LICENCIADO terá acesso ao código fonte do SOFTWARE ora licenciado, por este se tratar de propriedade intelectual da LICENCIANTE.</p>

    <h3>4. Das Restrições</h3>

    <p>Em hipótese alguma é permitido ao LICENCIADO ou a terceiros, de forma geral:</p>
    <p>4.1 Copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir, doar, alienar de qualquer forma, transferir total ou parcialmente, sob quaisquer modalidades, gratuita ou onerosamente, provisória ou permanentemente, o SOFTWARE objeto deste Termo de Serviço, assim como seus módulos, partes, manuais ou quaisquer informações a ele relativas;</p>
    <p>4.2 Praticar engenharia reversa, descompilação ou desmontagem do SOFTWARE.</p>

    <h3>5. Do Prazo e Rescisão</h3>

    <h4>5.1 Prazo</h4>

    <p>O presente Termo de Serviço entra em vigor na data em que foi realizado o primeiro pagamento pelo LICENCIADO e vigorará pelo prazo do plano contratado pelo LICENCIADO. Este Termo de Serviço será automaticamente renovado por igual período caso o LICENCIADO opte pela Assinatura Anual com cartão de crédito e não manifeste expressamente e formalmente, através dos nossos canais de comunicação, o interesse no cancelamento.</p>

    <h4>5.2 Rescisão</h4>

    <p>O presente Contrato poderá ser rescindido nas seguintes hipóteses:</p>

    <ul class="list-none">
      <li>5.2.1 A qualquer momento, em caso de infração às suas cláusulas e condições ou inadimplência, independentemente de interpelação judicial ou extrajudicial, assim como em caso de pedido de recuperação judicial, extrajudicial e/ou falência de qualquer uma das partes, nos termos da Lei nº 11.101 de 09/02/2005.</li>
      <li>5.2.2 Na hipótese de cancelamento por parte do LICENCIANTE, onde aplicar-se-á multa rescisória no valor de 50% das mensalidades devidas até o término regular do Contrato para planos na modalidade Assinatura Anual; Os planos da modalidade de Assinatura Anual possuem fidelidade de 1 (um) ano.</li>
      <li>5.2.3 Na hipótese de rescisão antecipada requerida pelo LICENCIANTE no plano Anual (pagamento único), todo o valor pago pelo mesmo à LICITADA não será reembolsado. Este valor será retido pela LICENCIANTE para cobrir os custos operacionais.</li>
    </ul>

    <p>Caso não haja pagamento de seu plano após 7 dias corridos do vencimento, o serviço será automaticamente bloqueado. Porém este Termo de Serviço só estará cancelado a partir do momento em que não haja renovação dos planos Mensais ou Anuais em até 21 dias corridos após a data do último vencimento.</p>

    <h4>5.3 Desistência da Compra</h4>

    <p>Conforme orientação do PROCON, quando a aquisição de produto ocorrer fora do estabelecimento comercial (por telefone, em domicílio, através de internet ou por outro meio similar) o consumidor tem o prazo de reflexão de 7 (sete) dias corridos, a contar da data do recebimento do produto ou assinatura do contrato, para desistência, de acordo com o artigo 49 do Código de Defesa do Consumidor.</p>

    <p>A contagem do prazo inicia-se a partir do dia imediatamente posterior à contratação ou recebimento do produto. A contagem não é interrompida nos finais de semana ou feriados. Quando o prazo de reflexão finalizar durante um final de semana, o direito do LICENCIADO se prorrogará para o 1º dia útil subsequente.</p>

    <p>O artigo 49 do Código de Defesa do Consumidor dispõe que:</p>

    <p><i>"O consumidor pode desistir do contrato, no prazo de sete dias a contar de sua assinatura ou do ato de recebimento do produto ou serviço, sempre que a contratação de fornecimento de produtos e serviços ocorrer fora do estabelecimento comercial, especialmente por telefone ou em domicílio.</i></p>

    <p><i>Parágrafo único. Se o consumidor exercitar o direito de arrependimento previsto neste artigo, os valores eventualmente pagos, a qualquer título, durante o prazo de reflexão, serão devolvidos, de imediato, monetariamente atualizados".</i></p>

    <p>Para exercer o direito de arrependimento, o LICENCIADO deve formalizar o pedido nos meios de comunicação da LICENCIANTE antes da finalização do prazo e, neste caso, a devolução do valor em questão será feita no próximo dia útil sendo que o meio de devolução será negociado entre as partes.</p>

    <h3>6. Da Remuneração e Forma de Pagamento</h3>

    <p>O serviço é pré-pago, sendo que cada pagamento dá direito a utilização do SOFTWARE pela periodicidade escolhida no momento da adesão ou renovação.</p>
    <p>Caso o LICENCIADO, no decorrer da vigência do presente instrumento, opte por outro plano de licenciamento, os valores serão alterados de acordo com o respectivo plano escolhido. Nenhum valor será ressarcido ao LICENCIADO se a mudança de plano for a menor. Em caso de alteração para um plano de maior valor, esse será cobrado proporcionalmente até a data do próximo vencimento.</p>
    <p>A falta de pagamento de quaisquer valores nas respectivas datas de vencimento acarretará na suspensão do acesso do LICENCIADO ao SOFTWARE até que o pagamento seja normalizado. O acesso ao SOFTWARE somente será restabelecido após a identificação pela LICENCIANTE da renovação ou adesão ao plano.</p>
    <p>Os valores dos planos estabelecidos no ato do licenciamento do SOFTWARE poderão ser reajustados de acordo com a política de preços da LICENCIANTE. Todas as atualizações dos planos serão avisadas com, no mínimo, 30 dias de antecedência.</p>

    <h4>6.1 Da periodicidade e formas de pagamento</h4>

    <p>Os planos poderão ser pagos com as seguintes periodicidades, a escolher:</p>

    <p>
    </p><ul class="list-none">
      <li><strong>a) Mensal:</strong> Pagamento mensal, com boleto bancário ou cartão de crédito, sendo necessário renovar o plano mensalmente diretamente no SOFTWARE. O vencimento do plano ocorrerá 30 dias após a adesão.</li>
      <li><strong>b) Anual:</strong> Pagamento único pelo período de um ano do plano, com boleto bancário ou cartão de crédito, sendo necessário renovar o plano diretamente no SOFTWARE. O vencimento do plano ocorrerá 1 ano após a adesão.</li>
      <li><strong>c) Assinatura Anual:</strong> Assinatura do SOFTWARE pelo período de um ano a ser descontada mensalmente na fatura do cartão de crédito. A assinatura é renovada automaticamente podendo ser cancelada após 1 ano de uso mediante formalização junto a LICENCIANTE.</li>
      </ul>
    <p></p>

    <h3>7. Restituição das Informações</h3>

    <p>Suspenso o acesso do LICENCIADO ao SOFTWARE, a LICENCIANTE manterá as informações do LICENCIADO armazenadas no SOFTWARE pelo período de 90 (noventa) dias, contados a partir da data de suspensão de acesso.</p>
    <p>Passados 90 (noventa) dias da suspensão do acesso do LICENCIADO ao SOFTWARE, todas as INFORMAÇÕES do LICENCIADO, incluindo as INFORMAÇÕES PESSOAIS, INFORMAÇÕES DE CONTA e INFORMAÇÕES FINANCEIRAS, em poder da LICENCIANTE serão excluídos permanentemente do banco de dados da LICENCIANTE, independentemente de terem sido extraídas ou não pelo LICENCIADO.</p>

    <h3>8. Das Obrigações do Licenciado</h3>

    <p>Obriga-se o LICENCIADO a:</p>
    <p>8.1 Manter pessoal treinado para a operação do SOFTWARE e para a comunicação com a LICENCIANTE e prover, sempre que ocorrerem quaisquer problemas com o SOFTWARE, toda a documentação, relatórios e demais informações que relatem as circunstâncias em que os problemas ocorreram, objetivando facilitar e agilizar os trabalhos.</p>
    <p>8.2 Manter, às suas expensas, linha de telecomunicação, modem, software de comunicação, endereço de correio eletrônico e outros recursos necessários à comunicação com a LICENCIANTE.</p>
    <p>8.3 Responder pelas INFORMAÇÕES inseridas no SOFTWARE, pelo cadastramento, permissões, senhas e modo de utilização de seus usuários. A LICENCIANTE em hipótese alguma será responsável pelo conteúdo (INFORMAÇÕES, senhas, cópias de informações, etc.) incluídos no SOFTWARE, não sendo, portanto, estas INFORMAÇÕES revisadas em momento algum. A responsabilidade pelas INFORMAÇÕES inseridas no SOFTWARE é sempre do LICENCIADO.</p>
    <p>8.4 Certificar-se de que não está proibido por determinação legal e/ou contratual de passar INFORMAÇÕES, INFORMAÇÕES DE CONTA e INFORMAÇÕES PESSOAIS, bem como quaisquer outros dados à LICENCIANTE, necessários para a execução do serviço oferecido por este Termo de Serviço.</p>
    <p>8.5 Não utilizar o SOFTWARE de qualquer forma que possa implicar em ato ilícito, infração, violação de direitos ou danos à LICENCIANTE ou terceiros, incluindo, mas não se limitando ao uso para invasão de dispositivo informático com o objetivo de obter, adulterar ou destruir dados ou informações sem a autorização expressa do titular de tais dados ou do dispositivo ou servidor nos quais estes estejam armazenados.</p>
    <p>8.6 Não publicar, enviar ou transmitir qualquer arquivo que contenha vírus, worms, cavalos de tróia ou qualquer outro programa que possa contaminar, destruir ou interferir no bom funcionamento do SOFTWARE.</p>
    <p>8.7 Informar a LICENCIANTE sempre que houver qualquer alteração das INFORMAÇÕES fornecidas à LICENCIANTE e que possam impedir, limitar ou prejudicar o acesso da LICENCIANTE às INFORMAÇÕES necessárias para a execução das funcionalidades ofertadas pelo SOFTWARE.</p>
    <p>8.8 Caso o LICENCIADO acredite que seu login e senha de acesso ao SOFTWARE tenham sido roubados ou sejam de conhecimento de outras pessoas, por qualquer razão, o LICENCIADO deverá imediatamente comunicar tal fato à LICENCIANTE, sem prejuízo da alteração da sua senha imediatamente, por meio do SOFTWARE.</p>

    <h3>9. Das Obrigações do Licenciante</h3>

    <p>Obriga-se a LICENCIANTE a:</p>
    <p>9.1 Garantir ao LICENCIADO que o SOFTWARE deverá funcionar regularmente, se respeitadas as condições de uso definidas na documentação. Na ocorrência de falhas de programação (“bugs”), a LICENCIANTE obrigar-se-á a corrigir tais falhas, podendo a seu critério substituir a cópia dos Programas com falhas por cópias corrigidas.</p>
    <p>9.2 Suspender o acesso ao SOFTWARE do LICENCIADO que esteja desrespeitando as regras de conteúdo aqui estabelecidas ou as normas legais em vigor.</p>
    <p>9.3 Alterar as especificações e/ou características do SOFTWARE licenciados para a melhoria e/ou correções de erros.</p>
    <p>9.4 Disponibilizar acesso aos serviços de suporte gratuito compreendido de segunda a sexta-feira, das 08:30h às 12:00h e das 13:30h às 18:00h (pelo horário de Brasília), por meio de correio eletrônico (contato@hospedin.com), por telefone e ainda através do chat online disponível na páginas do Hosped.in (http://hospedin.com) para esclarecimento de qualquer dúvida.</p>
    <p>9.5 Manter as INFORMAÇÕES FINANCEIRAS, INFORMAÇÕES DE CONTA e INFORMAÇÕES PESSOAIS do LICENCIADO, bem como seus registros de acesso, em sigilo, sendo que as referidas INFORMAÇÕES serão armazenadas em ambiente seguro, sendo respeitadas a intimidade, a vida privada, a honra e a imagem do LICENCIADO, em conformidade com as disposições da Lei nº 12.965/2014.</p>
    <p>9.6 Sempre que for realizada alguma atualização no sistema seja ela gratuita ou não, a LICENCIANTE avisará com antecedência e proverá material necessário para conhecimento dessas atualizações por parte do LICENCIADO. O LICENCIADO poderá escolher as funcionalidades pagas que deseja aderir ficando dispensados aditivos neste Termo para futuras adesões.</p>

    <h3>10. Nível de Serviço</h3>

    <p>10.1 A LICENCIANTE empreenderá esforços comercialmente razoáveis para tornar o SOFTWARE disponível, no mínimo, 99,7% (noventa e nove vírgula sete por cento) durante cada Ano de Serviço (conforme definido abaixo) (“Compromisso de Nível de Serviço”). Na hipótese de a LICENCIANTE não cumprir o Compromisso de Nível de Serviço, o LICENCIADO terá o direito de receber o crédito correspondente a 1 (um) mês de mensalidade, 1/3 avos (para planos trimestrais) ou 1/12 avos (para planos anuais) (“Crédito de Serviço”).</p>
    <p>10.2 Por “Ano de Serviço” entende-se os 365 dias precedentes à data de uma reivindicação relacionada ao nível de serviço. Se o LICENCIADO estiver se utilizando do SOFTWARE durante período inferior a 365 dias, o Ano de Serviço que lhe corresponde será, ainda assim, considerado como os 365 dias precedentes; no entanto, os dias anteriores a seu uso dos serviços serão considerados como de 100% de disponibilidade. Os períodos de inatividade operacional que ocorrerem antes de uma reivindicação bem sucedida de Crédito de Serviço não poderão ser usados para efeito de reivindicações futuras.</p>
    <p>10.3 O Compromisso de Nível de Serviço não se aplica caso as circunstâncias de indisponibilidade resultem (i) de uma interrupção do fornecimento de energia elétrica ou paradas emergenciais não superiores a 2 (duas) horas ou que ocorram no período das 24h às 6:00h (horário de Brasília); (ii) forem causadas por fatores que fujam ao razoável controle da LICENCIANTE, inclusive casos de força maior ou de acesso à Internet e problemas correlatos; (iii) resultem de quaisquer atos ou omissões do LICENCIADO ou de terceiros; (iv) resultem do equipamento, software ou outras tecnologias que o LICENCIADO usar que impeçam o acesso regular do SOFTWARE; (v) resultem de falhas de instâncias individuais não atribuíveis à indisponibilidade do LICENCIADO.</p>

    <h3>11. Isenção de Responsabilidade da Licenciante</h3>

    <p>A LICENCIANTE não se responsabiliza:</p>
    <p>11.1 Por falha de operação, operação por pessoas não autorizadas ou qualquer outra causa em que não exista culpa da LICENCIANTE.</p>
    <p>11.2 Pelo não fornecimento de informações para emissão de nota fiscal.</p>
    <p>11.3 Pelos danos ou prejuízos decorrentes de decisões administrativas, gerenciais ou comerciais tomadas com base nas informações fornecidas pelo SOFTWARE.</p>
    <p>11.4 Por problemas definidos como “caso fortuito” ou “força maior”, contemplados pelo Art. 393 do Código Civil Brasileiro.</p>
    <p>11.5 Por eventuais problemas oriundos de ações de terceiros que possam interferir na qualidade do serviço.</p>
    <p>11.6 Por danos causados a terceiros em razão de conteúdo gerado pelo LICENCIANTE através de SOFTWARE.</p>
    <p>A LICENCIANTE adota as medidas de segurança adequadas de acordo com os padrões de mercado para a proteção das INFORMAÇÕES do LICENCIADO armazenadas no SOFTWARE, assim como para o acesso às INFORMAÇÕES PESSOAIS do LICENCIADO. Contudo, o LICENCIADO reconhece que nenhum sistema, servidor ou software está absolutamente imune a ataques e/ou invasões de hackers e outros agentes maliciosos, não sendo a LICENCIANTE responsável por qualquer exclusão, obtenção, utilização ou divulgação não autorizada de INFORMAÇÕES resultantes de ataques que a LICENCIANTE não poderia razoavelmente evitar por meio dos referidos padrões de segurança.</p>

    <h3>12. Da Retomada dos Softwares</h3>

    <p>A LICENCIANTE se reserva o direito de cancelar imediatamente o acesso do LICENCIADO ao SOFTWARE nos casos em que o LICENCIADO usar o SOFTWARE de forma diversa daquela estipulada no presente instrumento.</p>

    <h3>13. Das Garantias Limitadas</h3>

    <p>Na extensão máxima permitida pela lei em vigor, o SOFTWARE é fornecido "no estado em que se encontra" e "conforme a disponibilidade", com todas as falhas e sem garantia de qualquer espécie.</p>
    <p>Não obstante o disposto no item 9 acima, a LICENCIANTE não garante que as funções contidas no SOFTWARE atendam às suas necessidades, que a operação do SOFTWARE será ininterrupta ou livre de erros, que qualquer serviço continuará disponível, que os defeitos no SOFTWARE serão corrigidos ou que o SOFTWARE será compatível ou funcione com qualquer SOFTWARE, aplicações ou serviços de terceiros.</p>

    <h3>14. Limitação de Responsabilidade</h3>

    <p>Em nenhum caso a LICENCIANTE será responsável por danos pessoais ou qualquer prejuízo incidental, especial, indireto ou consequente, incluindo, sem limitação, prejuízos por perda de lucro, corrupção ou perda de dados, falha de transmissão ou recepção de dados, não continuidade do negócio ou qualquer outro prejuízo ou perda comercial, decorrentes ou relacionados ao seu uso ou sua inabilidade em usar o SOFTWARE, por qualquer outro motivo. Sob nenhuma circunstância a responsabilidade integral da LICENCIANTE com relação ao LICENCIADO por todos os danos excederá a quantia correspondente ao plano de licenciamento paga pelo LICENCIADO à LICENCIANTE pela obtenção de uso do SOFTWARE.</p>

    <h3>15. Consentimento livre, expresso e informado para acesso a informações confidenciais e dados pessoais</h3>

    <p>O LICENCIADO, ao aceitar utilizar o SOFTWARE, além de aceitar integralmente este Termo de Serviço, também consente, livre e expressamente, que a LICENCIANTE colete, use, armazene e faça o tratamento de suas INFORMAÇÕES, incluindo seus dados pessoais e do estabelecimento, os quais serão necessários para que o serviço ofertado seja prestado em sua integralidade.</p>
    <p>O LICENCIADO consente livre e expressamente que suas INFORMAÇÕES poderão ser transferidas a terceiros em decorrência da venda, aquisição, fusão, reorganização societária ou qualquer outra mudança no controle da LICENCIANTE. A LICENCIANTE, contudo, compromete-se, nestes casos, a informar o LICENCIADO.</p>
    <p>Saiba mais em nossa <%= link_to 'Política de Privacidade', privacy_path, target: '_blank' %>.</p>

    <h3>16. Da Rescisão</h3>

    <p>Caso não haja pagamento de seu plano após 7 dias do vencimento, o serviço será automaticamente bloqueado. Porém este Termo de Serviço só estará cancelado a partir do momento em que não haja renovação dos planos Mensais ou Anuais em até 21 dias corridos após a data do último vencimento. Para os planos de licenciamento com pagamento único e antecipado (plano anual), caso o LICENCIADO decida rescindir este Termo antes do término do prazo contratado, o LICENCIANTE não restituirá ao LICENCIADO o saldo restante do plano contratado (exceto em campanhas promocionais que prevejam a devolução dos valores pagos). Este valor será retido pela LICENCIANTE para cobrir os custos operacionais.</p>

    <p>A LICENCIANTE poderá rescindir este Termo a qualquer momento em caso de violação pelo LICENCIADO dos termos e condições ora acordados.</p>

    <h3>17. Das disposições Legais</h3>

    <p>17.1 Caso o LICENCIADO venha a desenvolver um novo módulo ou produto que caracterize cópia, de todo ou em parte, quer seja do dicionário de dados quer seja do programa, será considerado como parte do SOFTWARE fornecido pela LICENCIANTE, ficando, portanto, sua propriedade incorporada pela LICENCIANTE e seu uso condicionado a estas cláusulas contratuais.</p>
    <p>17.2 Este Termo de Serviço obriga as partes e seus sucessores e somente o LICENCIADO possui licença não exclusiva para a utilização do SOFTWARE, sendo-lhe, entretanto, vedado transferir os direitos e obrigações acordados por este instrumento. Tal limitação, no entanto, não atinge a LICENCIANTE, que poderá, a qualquer tempo, ceder, no todo ou em parte, os direitos e obrigações inerentes ao presente Termo.</p>
    <p>17.3 A tolerância de uma parte para com a outra quanto ao descumprimento de qualquer uma das obrigações assumidas neste instrumento não implicará em novação ou renúncia de direito. A parte tolerante poderá, a qualquer tempo, exigir da outra parte o fiel e cabal cumprimento deste instrumento.</p>
    <p>17.4 Não constitui causa de rescisão contratual o não cumprimento das obrigações aqui assumidas em decorrência de fatos que independam da vontade das partes, tais como os que configuram o caso fortuito ou força maior, conforme previsto no artigo 393 do Código Civil Brasileiro.</p>
    <p>17.5 Se qualquer disposição deste Termo de Serviço for considerada nula, anulável, inválida ou inoperante, nenhuma outra disposição deste Termo será afetada como consequência disso e, portanto, as disposições restantes deste Termo permanecerão em pleno vigor e efeito como se tal disposição nula, anulável, inválida ou inoperante não estivesse contida neste Termo.</p>
    <p>17.6 Neste ato, o LICENCIANTE expressamente autoriza o LICENCIADO a colher e utilizar seus dados técnicos e operacionais presentes no SOFTWARE, para fins de estudos e melhorias no SOFTWARE.</p>
    <p>17.7 A LICENCIANTE poderá, a seu exclusivo critério, a qualquer tempo e sem a necessidade de comunicação prévia ao LICENCIADO:</p>
    <p>
    </p><ul class="list-none">
      <li>a) Encerrar, modificar ou suspender, total ou parcialmente, o acesso do LICENCIADO ao SOFTWARE, quando referido acesso ou cadastro estiver em violação das condições estabelecidas neste Termo.</li>
      <li>b) Excluir, total ou parcialmente, as informações cadastradas pelo LICENCIADO que não estejam em consonância com as disposições deste Termo.</li>
      <li>c) Acrescentar, excluir ou modificar o Conteúdo oferecido no site.</li>
      <li>d) Alterar quaisquer termos e condições deste Termo mediante simples comunicação ao LICENCIADO.</li>
    </ul>
    <p></p>
    <p>17.8 A LICENCIANTE ainda poderá, a seu exclusivo critério, suspender, modificar ou encerrar as atividades do SOFTWARE, mediante comunicação prévia por meio do endereço eletrônico ao LICENCIADO, com antecedência mínima de 15 (quinze) dias, disponibilizando formas e alternativas de extrair do Site as informações, salvo nas hipóteses de caso fortuito ou força maior.</p>
    <p>17.9 Fica certo e entendido pelo LICENCIADO que somente a pessoa cadastrada pelo próprio LICENCIADO como administradora de conta poderá solicitar que as informações do LICENCIADO inseridas no Software sejam apagadas. Ainda, o LICENCIADO declara sua ciência de que uma vez apagadas, estas não poderão mais ser recuperadas, ficando a LICENCIANTE isenta de qualquer responsabilidade por quaisquer perdas ou danos decorrentes deste procedimento solicitado pelo LICENCIADO.</p>
    <p>17.10 LICENCIANTE e LICENCIADO expressamente reconhecem que o único vínculo jurídico entre elas resulta do presente Termo. Nenhuma disposição no presente instrumento será interpretada de modo a colocar LICENCIANTE e LICENCIADO como sócias, associadas, consorciadas, comodatárias ou para com responsabilidade solidária ou subsidiária, de qualquer espécie, incluindo, mas não se limitando, a responsabilidade civil, administrativa, trabalhista e fiscal-tributária. Seus negócios serão conduzidos em seus próprios nomes e serão separadamente responsáveis pelos atos e conduta de seus empregados e agentes.</p>
    <p>17.11 Este Termo de Serviço é de natureza estritamente civil, inexistindo qualquer vínculo empregatício entre a LICENCIANTE e os empregados, dirigentes ou prepostos do LICENCIADO e vice e versa, correndo por conta exclusiva de quem der causa, todas as despesas com o respectivo pessoal, incluindo os respectivos salários, encargos trabalhistas, previdenciários e quaisquer outras parcelas de qualquer natureza porventura relacionadas ao referido vínculo.</p>

    <h3>18. Da Lei Aplicável</h3>

    <p>Este Termo de Serviço será regido, interpretado e se sujeitará às leis brasileiras e, o LICENCIADO e a LICENCIANTE desde logo elegem, de forma irrevogável e irretratável, o foro da Comarca da Cidade de Garopaba, Estado de Santa Catarina, para dirimir quaisquer dúvidas ou controvérsias oriundas deste Termo, com a exclusão de qualquer outro, por mais privilegiado que seja.</p>

    <h3>19. Das definições</h3>

    <p>Os termos utilizados neste instrumento deverão ser interpretados e usados conforme definições abaixo, seja no singular ou plural:</p>
    <p>INFORMAÇÕES DE CONTA: informações e dados relativos ao estabelecimento como CNPJ, razão social, nome fantasia, endereço, etc.</p>
    <p>INFORMAÇÕES FINANCEIRAS: informações fornecidas pelo LICENCIADO referente às transações financeiras, contas a pagar e contas a receber.</p>
    <p>INFORMAÇÕES PESSOAIS: qualquer informação disponibilizada pelo LICENCIADO que o identifique, tais como nome, endereço, data de nascimento, número de telefone, fax, endereço eletrônico, número de documentos, etc.</p>
    <p>INFORMAÇÕES: entende-se todas as informações do LICENCIADO relacionadas a INFORMAÇÕES PESSOAIS, INFORMAÇÕES FINANCEIRAS e INFORMAÇÕES DE CONTA.</p>
    <p>LICENCIADO: pessoa física ou jurídica, com plena capacidade de contratar, que acessa o SOFTWARE da LICENCIANTE por meio do site, realizando seu cadastro, aceitando os termos do presente documento e usufruindo das funcionalidades oferecidos.</p>
    <p>SOFTWARE: software de propriedade exclusiva da LICENCIANTE, cujas funcionalidades e serviços estão disponibilizados pelo site, por meio do qual as INFORMAÇÕES FINANCEIRAS do LICENCIADO serão fornecidas diretamente por ele ou coletadas diretamente nos sites das instituições financeiras de maneira automatizada.</p>

    <p>Garopaba, 01 de Janeiro de 2017.</p>

    <p>FLLAG PROJETOS TECNOLÓGICOS.</p>

    <p style="text-align:center;">Qualquer dúvida sobre os Termos de Serviço pode ser enviada para <a href="mailto:contato@hospedin.com">contato@hospedin.com</a>.</p>
  </div>
</section>
